<header class="header">
    <div>
        <a href="/">
            <h1>Members<span>Only</span></h1>
        </a>
    </div>
    <% if (!currentUser) { %>
        <div>
            <a href="/log-in"><button class="log-in-button">Log in</button></a>
            <a href="/sign-up"><button class="sign-up-button">Sign up</button></a>
        </div>
    <% } else { %>    
        <div>
            <% if (!currentUser.is_member) { %>
                <a href="/join">Membership</a>
            <% } %>           
        </div>   
        <div>
            <div>                             
                <% if (currentUser.is_member) { %>
                    <span>&#x265b;</span>
                <% } %>
                <p><%= currentUser.username %></p>               
            </div>            
            <a href="/log-out">Log out</a>
        </div>
    <% } %>
</header>