<header class="header">
    <div>
        <a href="/">
            <h1>Members<span>Only</span></h1>
        </a>
    </div>
    <% if (!currentUser) { %>
        <div>
            <a href="/log-in"><button class="log-in-button">Log in</button></a>
            <a href="/sign-up"><button class="sign-up-button">Sign up</button></a>
        </div>
    <% } else { %>    
        <div>
            <div class="dropdown">
                <button class="username-button">                             
                    <% if (currentUser.is_member) { %>
                        <span>&#x265b;</span>
                    <% } %>               
                    <%= currentUser.username %>
                    <% if (currentUser.is_admin) { %>
                        <span>&#9874;</span>
                    <% } %>               
                </button>            
                <div class="dropdown-content hidden">
                    <a href="/">Home</a>
                    <% if (!currentUser.is_member) { %>
                        <a href="/join">Membership</a>
                    <% } %>
                    <% if (!currentUser.is_admin) { %>
                        <a href="/admin">Admin</a>
                    <% } %>    
                    <a href="/log-out">Log out</a>
                </div>
            </div>           
        </div>
    <% } %>
</header>