<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main>        
        <% if (currentUser) { %>
            <p>Hello, <%= currentUser.username %></p>
            <a href="/join">Join the club</a>
            <a href="/log-out">Log out</a>
        <% } else { %>       
            <a href="/sign-up">Create account</a>
            <a href="/log-in">Log in</a>            
        <% } %>        
    </main>    
</body>
</html>