@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

:root {    
    --blue-color: rgb(26, 94, 242);
    --black-color: rgb(19, 19, 19);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;  
    font-family: "Raleway";
    user-select: none;  
    margin: 0;
    padding: 0;   
}

a {
    text-decoration: none; 
    color: black; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h4, p {
    margin: 0;
}

.header, .main, .footer {
    max-width: 1200px;
    padding: 0 2rem;    
}

@media (min-width: 1200px) {
    .header, .main, .footer {        
        padding: 0;
        margin: auto;    
    }    
}

/* ------------ HEADER ------------ */

.header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black-color);
}

.header h1 span {
    font-weight: 800;
    color: var(--blue-color);
}

.header div {
    align-content: center;    
}

.header button {
    cursor: pointer;      
    font-family: inherit;
    font-size: 1rem;
    line-height: 1rem; 
    padding: .4rem .8rem;
    border: solid 1px transparent;
    border-radius: .2rem;
    background: transparent;
}

.header .log-in-button {
    margin-right: .5rem;
}

.header .log-in-button:hover {
    border: solid 1px var(--blue-color);    
}

.header .sign-up-button {    
    color: white;
    background-color: var(--blue-color);
}

.header .sign-up-button:hover {
    background-color: var(--black-color);   
}

.header .username-button {
    min-width: 6rem;
    border: solid 1px rgb(215, 214, 214); 
}

.header .username-button:hover {
    border: solid 1px var(--blue-color);    
}

.header .username-button .user-icon-span {
    font-size: 20px;
    transform: scale(.5, 1);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: grid;
    position: absolute;
    right: 0;        
    background-color: white;    
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    padding: 2rem 2rem;
    z-index: 1;
}

.dropdown-content a {
    cursor: pointer;
    width: 10rem;   
    padding: .8rem 0;
    text-align: center;
}

.dropdown-content a:hover {
    color: var(--blue-color);
}

.hidden {
    display: none;
}

/* ------------ MAIN ------------ */

.main { 
    min-height: calc(100vh - 8rem);    
    padding-top: 2rem;
}

.new-user-message {
    margin-bottom: 2rem;
}

.nav-links {
    margin-bottom: 2rem;
}

.nav-links .active {
    color: var(--blue-color);
}

.main h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.back-home-link {
    display: inline-block;
    margin-bottom: 2rem;
}

.back-home-link:hover {
    color: var(--blue-color);    
}

.main .button-container {
    display: grid;
    justify-content: end;
}

.main .create-message-button {
    cursor: pointer;
    font-size: 1rem;
    padding: .4rem .8rem;
    border: solid 1px var(--blue-color);
    border-radius: .2rem;
    color: white;
    background-color: var(--blue-color);
    margin-left: auto;
    margin-bottom: 2rem;   
}

.main .create-message-button:hover {   
    background-color: var(--black-color);
}

/* ------------ FORMS ------------ */

.form-wrapper {
    max-width: 24rem;
    margin: auto;
}

.form-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: .8rem;
    color: rgb(61, 60, 60);
    margin-bottom: .2rem;
}

.form input,
.form textarea {
    font-size: 1.2rem;
    padding: .5rem;
    margin-bottom: 1rem;
    border: solid 1px rgb(220, 218, 218);
    border-radius: .2rem;   
}

.form a {
    align-self: self-end;
    font-size: .9rem;
    color: var(--blue-color);
    text-decoration: underline transparent;
    text-underline-offset: .2rem;
}

.form a:hover {
    text-decoration: underline;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.form button { 
    cursor: pointer;      
    font-family: inherit;
    font-size: 1rem;
    line-height: 1rem; 
    padding: .4rem .8rem;
    border: solid 1px var(--black-color);
    border-radius: .2rem;
    background: transparent;
}

.form button:hover {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.validation-errors-list {
    color: rgb(238, 48, 48);
    margin-bottom: .5rem;
}

.hint {
    font-size: .7rem;
    color: rgb(103, 104, 103);
}

/* ------------ MESSAGES ------------ */

.messages-container {
    display: grid;    
    gap: .5rem;
}

.message-card {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 1rem;
    border: solid 1px rgb(215, 214, 214);
    border-radius: .2rem; 
    word-break: break-word; 
}

.message-card .message {
    border-bottom: solid 1px rgb(243, 240, 240);
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.message-card .message h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 .5rem 0;    
}

.message-card .message p {
    font-weight: 200;    
}

.message-card .message h3:first-letter,
.message-card .message p:first-letter {
    text-transform: capitalize;   
}

.message-card .message-info {
    display: flex;
    justify-content: space-between;
}

.message-card .message-info p {
    font-size: .7rem;
    color: rgb(100, 99, 99);
}

.delete-message-form {
    display: grid;
    align-self: self-end;
    justify-content: end;
    height: auto;
    margin-top: 1rem;    
}

.delete-message-button {
    cursor: pointer;      
    font-family: inherit;
    font-size: .8rem;
    line-height: .8rem; 
    padding: .2rem .4rem;
    border: solid 1px var(--black-color);
    border-radius: .2rem;
    background: transparent;    
}

.delete-message-button:hover {    
    border-color: var(--blue-color);      
}

@media (min-width: 756px) {
    .messages-container {        
        grid-template-columns: repeat(2, 1fr);    
    }    
}

@media (min-width: 1000px) {
    .messages-container {        
        grid-template-columns: repeat(3, 1fr);    
    }    
}

/* ------------ FOOTER ------------ */

.footer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 4rem;
}