@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

:root {    
    --blue-color: rgb(26, 94, 242);
    --black-color: rgb(19, 19, 19);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;  
    font-family: "Raleway";
    user-select: none;  
    margin: 0;
    padding: 0;   
}

a {
    text-decoration: none; 
    color: black; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h4, p {
    margin: 0;
}

/* ------------ HEADER ------------ */

.header, .main, .footer {
    padding: 0 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black-color);
}

.header h1 span {
    font-weight: 800;
    color: var(--blue-color);
}

.header div {
    align-content: center;    
}

.header button {
    cursor: pointer;      
    font-family: inherit;
    font-size: 1rem;
    line-height: 1rem; 
    padding: .4rem .8rem;
    border: solid 1px transparent;
    border-radius: .2rem;
    background: transparent;
}

.header .log-in-button {
    margin-right: .5rem;
}

.header .log-in-button:hover {
    border: solid 1px var(--blue-color);    
}

.header .sign-up-button {    
    color: white;
    background-color: var(--blue-color);
}

.header .sign-up-button:hover {
    color: var(--blue-color);
    background-color: white;
    border: solid 1px var(--blue-color);    
}

/* ------------ MAIN ------------ */

.main {
    min-height: calc(100vh - 8rem);
}

.main h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.main .button-container {
    display: grid;
    justify-content: end;
}

.main .create-message-button {
    cursor: pointer;
    font-size: 1rem;
    padding: .2rem .8rem;
    border: none;
    border-radius: .2rem;
    color: white;
    background-color: var(--blue-color);
    margin-left: auto;
}

/* ------------ FOOTER ------------ */

.footer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 4rem;
}