<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
</head>
<body>
    <main>
        <%- include('../partials/validationErrors') %>
        <form action="/join" method="POST">           
            <label for="passcode">Passcode</label>
            <input 
                type="password" 
                name="passcode" 
                id="passcode"               
                required
            >           
            <button type="submit">Join</button>
            <a href="/">Cancel</a>
        </form>
    </main>    
</body>
</html>