<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <script defer src="/js/index.js"></script>
    <title>Membership</title>
</head>
<body>
    <%- include("../partials/header") %> 
    <main class="main">
        <%- include('../partials/validationErrors') %>
        <form action="/join" method="POST">           
            <label for="passcode">Passcode</label>
            <input 
                type="password" 
                name="passcode" 
                id="passcode"               
                required
            >           
            <button type="submit">Join</button>
            <a href="/">Cancel</a>
        </form>
    </main>
    <%- include("../partials/footer") %>     
</body>
</html>